---
import Layout from '../../layouts/Layout.astro';
---
<Layout dir="ltr" lang="en">
	<section class="sm:px-16 xl:px-48 p-4"> 
                <hgroup data-aos="fade-down"> 
                    <h2 class="text-4xl font-bold"> 
                        Gratitude 
                    </h2> 
                    <h3 class="text-xl mt-2 font-ibm"> 
                        Messages of Appreciation from the Founder 
                    </h3> 
                </hgroup> 
                <div data-aos="fade-up"> 
                       <svg class="w-8 h-8 text-secondary-color-2 mb-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
                            <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
                        </svg>
                    <div class="flex justify-center items-center"  
                    x-data="{
                    next: emblaApi.canScrollNext(),
                    prev: emblaApi.canScrollPrev(),
                    currentSlide: 0,
                    initEmbla() {
                    // Check for emblaApi availability
                    if (typeof emblaApi !== 'undefined') {
                        emblaApi.on('select', () => {
                            const theCurrentSlide = emblaApi.selectedScrollSnap();
                            this.currentSlide = theCurrentSlide;
                            this.next = emblaApi.canScrollNext();
                            this.prev = emblaApi.canScrollPrev();
                        });

                        // Initial state setup
                        this.next = emblaApi.canScrollNext();
                        this.prev = emblaApi.canScrollPrev();
                        }
                    },
                    toggle(direction) { 
                    direction === 'next' && emblaApi.canScrollNext() && (emblaApi.scrollNext());
                    direction === 'prev' && emblaApi.canScrollPrev() && (emblaApi.scrollPrev());
                    this.next = emblaApi.canScrollNext();
                    this.prev = emblaApi.canScrollPrev();
                    }
                }"
                x-effect="console.log(currentSlide)"
                x-init="
                        // Try to initialize immediately
                        initEmbla();
                    "
                    > 
                        <button class="cursor-pointer disabled:opacity-10" :disabled="!prev" @click="toggle('prev')"> 
                                <svg class="size-8" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"> 
                                    <g fill="none"><path fill="currentColor" d="M20 12.75a.75.75 0 0 0 0-1.5zm0-1.5H4v1.5h16z" opacity=".5"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m10 6l-6 6l6 6"/></g> 
                                 </svg>
                        </button> 
                         
                        <hr class="border w-12 mx-6" /> 
                        <button class="cursor-pointer disabled:opacity-10" :disabled="!next" @click="toggle('next')"> 
                                <svg class="size-8" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"> 
                                    <g fill="none"><path fill="currentColor" d="M4 11.25a.75.75 0 0 0 0 1.5zm0 1.5h16v-1.5H4z" opacity=".5"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 6l6 6l-6 6"/></g> 
                                </svg> 
                        </button> 
                    </div> 
                    <div class="embla"> 
                        <div class="embla__container text-7xl"> 
                          <div class="embla__slide"> 
                            <blockquote class="text-xl font-watad text-gray-900"> 
                                <hgroup class="text-center"> 
                                    <h2> 
                                        Message One 
                                    </h2> 
                                    <h3> 
                                        A Message of Gratitude to God Almighty 
                                    </h3> 
                                </hgroup> 
                                <p class="font-ibm text-sm lg:text-base"> 
                                    Praise be to God, Lord of the worlds, by whose grace good deeds are 
        completed, and by whose favor hardships become easier, and by whose generosity 
        blessings are bestowed. 
                                    <br /> 
                                    O Allah, You who have showered me with blessings and favors that I 
        cannot count, You who have granted me the strength to overcome challenges, the 
        certainty to face difficulties, and the wisdom to walk steadfastly on the paths 
        of life. 
                                    <br /> 
                                    I praise You for every breath You have granted me, for every step I have 
        taken toward goodness, and for every heart that has beat with generosity 
        through me. 
                                    <br /> 
                                    O Allah, I thank You for facilitating the means of success for me, and 
        for blessing me with the vision to see the fruits of my efforts grow and 
        flourish in the lives of others. Thank You for granting me the courage to 
        dream, the determination to act, and the success to achieve. 
                                    <br /> 
                                    O You who do not refuse supplication, I ask You to make every deed I 
        undertake sincere for Your noble face, and to make my impact a source of 
        goodness in the lives of every needy person, every orphan, and every afflicted 
        soul. 
                                    <br /> 
                                    O Allah, make this foundation an oasis of goodness, a field of giving, 
        and a beacon of hope for all those who find their path constricted. Make it a 
        door through which I may enter Paradise, and a provision I bring to You on a 
        day when wealth and children will not avail, except for one who comes to God 
        with a sound heart. 
                                    <br /> 
                                    O Allah, I praise You 
        until You are pleased, and I praise You when You are pleased, and I praise You 
        after You are pleased. 
                                </p> 
                          </blockquote> 
                          </div> 
                          <div class="embla__slide"> 
                            <blockquote class="text-xl font-watad text-gray-900"> 
                                <hgroup class="text-center"> 
                                    <h2> 
                                        Message Two 
                                    </h2> 
                                    <h3> 
                                        A Message of Gratitude to My Beloved Mother 
                                    </h3> 
                                    <h3> 
                                        Munirah bint Thunayan 
                                    </h3> 
                                </hgroup> 
                                <p class="font-ibm text-sm lg:text-base"> 
                                    To the 
        one who has been my support after God, to the one who carried me in her heart 
        before her arms, to my beloved mother, Munirah bint Thunayan Al-Thunayan, 
                                    <br /> 
                                    O 
        Munirah, the light of my path and the illumination of my life, you have been 
        both mother and father, teacher and role model, and the warm embrace I turn to 
        whenever paths narrow for me. The road has not been easy, but you walked it 
        with steadfastness and strength; you exemplified patience and your sacrifices 
        are stories told for generations. 
                                    <br /><br /> 
                                    What the 
        Athar Foundation offers today is an extension of the original values you 
        instilled in my heart since childhood. Your limitless giving and countless 
        sacrifices have had the greatest impact on shaping my character and principles. 
        I learned from you that true giving expects no return, and that goodness leaves 
        an everlasting mark regardless of the passage of time. 
                                    <br /> 
                                    <br /> 
                                    You bore 
        the burdens of life silently and faced challenges with a faithful heart and a 
        reassuring smile. You never complained and never faltered in performing your 
        duty as a great mother. You planted in me the love of goodness and sincere 
        work, inspiring me to make every step I take a positive legacy that remains 
        after me. 
                                    <br /> 
                                    <br /> 
                                    The Athar 
        Foundation is not just a charitable initiative; it is a true reflection of your 
        upbringing and the values you instilled in me, which will forever illuminate 
        our path. The success of this foundation is part of your continuous giving and 
        is a message of love and fidelity to you, and to every mother who sacrificed, 
        stayed awake, and nurtured to raise a good person who serves their community. 
                                    <br /> 
                                    <br /> 
                                    I promise 
        you, my mother, that I will continue this legacy, and that every initiative and 
        every project in the Athar Foundation will be a testament to your sacrifices 
        and giving. I pray that God preserves you and grants you unending happiness, 
        and that all you have bestowed upon me is counted in your good deeds. 
                                    <br /> 
                                    <br /> 
                                    <br /> 
                                    <span class="font-ibm font-bold"> 
                                        — Your loving and grateful son, Fahad 
                                    </span> 
                                </p> 
                            </blockquote> 
                          </div> 
                          <div class="embla__slide"> 
                            <blockquote class="text-xl font-watad text-gray-900"> 
                                <hgroup class="text-center"> 
                                    <h2> 
                                        Message Three 
                                    </h2> 
                                    <h3> 
                                        A Message of Gratitude and Appreciation 
                                    </h3> 
                                </hgroup> 
                                <p class="font-ibm text-sm lg:text-base"> 
                                In the course of my journey in building this charitable edifice, I find 
        myself indebted to express my gratitude and appreciation to my dear wife, Maha 
        bint Abdullah Al-Hudhudi, who has been and continues to be my support, the 
        pillar of my stability, and my warm refuge in times of challenges. Her 
        encouraging words and tender touches have been the fuel that drives me to move 
        forward with strength and confidence. 
                                <br /><br /> 
                                To my cherished daughters: Munirah, Al-Anoud, and Sarah, you are the 
        light of my life and the secret of my happiness. I see in you a bright future, 
        and I draw hope and determination from you. Your support and patience during my 
        absences for work and travel for the sake of this foundation are an essential 
        part of this success. 
                                <br /><br /> 
                                You have always been a source of inspiration for me, and I promise you 
        that this charitable legacy will remain a testament to our deep love, and a 
        message we send together to serve the community and contribute to building a 
        better future. 
                                <br /><br /> 
                                I pray that God blesses you and keeps you safe from all harm, and grants 
        you success in achieving your dreams, just as you have supported my dreams. 
                                <br /> 
                                <br /> 
                                <span class="font-ibm font-bold"> 
                                    — With love, Fahad 
                                </span> 
                                </p> 
                            </blockquote> 
                          </div> 
                          <div class="embla__slide"> 
                            <blockquote class="text-xl font-watad text-gray-900"> 
                                <hgroup class="text-center"> 
                                    <h2> 
                                        Message Four 
                                    </h2> 
                                    <h3> 
                                        To the soul of my dear grandmother 
                                    </h3> 
                                    <h3> 
                                        Nahia bint Abdulaziz Al-Muaiqel (may God have mercy on her) 
                                    </h3> 
                                </hgroup> 
                                <p class="font-ibm text-sm lg:text-base">                            
                                To the one who was a light illuminating the paths of my childhood, a 
        tenderness that enveloped my days, and a pure smile that filled my heart with 
        serenity… to my beloved grandmother, Nahia bint Abdulaziz Al-Muaiqel (may God 
        have mercy on her). 
                                <br /><br /> 
                                You have departed from our world, but your memory is still vibrant in my 
        heart, and your fragrant legacy echoes in my ears with every good deed I 
        undertake, and with every moment I contemplate the impact you left on my life. 
        You were a warm embrace for me, a safe haven, and a treasure of wisdom and 
        patience. 
                                <br /><br /> 
                                I remember your sincere prayers, your kind words that made me feel that no 
        matter how harsh life became, it was eased by your pure supplications. You 
        believed that the reward for goodness never ceases, and that giving is the 
        imprint that remains after departure. 
                                <br /><br /> 
                                Athar Foundation is an extension of those noble values you instilled in us, 
        and it is a humble attempt to make the good deeds I do a bridge that connects 
        me to you in the gardens of eternity, God willing. I hope that every charitable 
        project and every helping hand we extend in the name of the foundation is a 
        continuous charity in your book of deeds, and a mercy that descends upon your 
        pure soul. 
                                <br /><br /> 
                                My beloved grandmother, I promise you that I will exert every effort to make 
        Athar Foundation a beacon of goodness, and a legacy that endures and extends, 
        illuminating the paths of the needy and bringing joy to their hearts, so that 
        all of that may be a answered prayer that elevates your status in the eternal 
        abode. 
                                <br /><br /> 
                                I ask God Almighty to shower you with His vast mercy, forgive you, and 
        gather me with you in the gardens of bliss, where there is no separation and no 
        farewell. 
                                <br /><br /> 
                                May God have mercy on you, grandmother, and grant you the highest Paradise. 
                                <br /><br /> 
                                    <span class="font-ibm font-bold"> 
                                        — Forever loving you, Fahad 
                                    </span> 
                                </p> 
                            </blockquote> 
                          </div> 
                        </div> 
                      </div> 
                </div> 
            </section>
</Layout>

<style is:global>
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
</style>
