---
import Layout from '../../layouts/Layout.astro';
---
<Layout dir="ltr" lang="en">
    <section class="flex flex-col items-center text-center justify-center" data-aos="fade-up">
        <h1 class="mb-4 text-4xl text-balance font-watad leading-none md:text-5xl lg:text-6xl p-4">
            Special
        </h1>
        <div class="p-4 text-lg font-normal lg:text-xl sm:px-16 xl:px-48 font-ibm max-w-3xl mx-auto">
            <p class="leading-relaxed">
                To honor our deep-rooted heritage and take pride in our national identity, we have chosen the Al-Masmak font to adorn this website, one of the fonts gifted by the Ministry of Culture of Saudi Arabia. This font embodies the authenticity of the past and the richness of the present, artistically narrating the story of Al-Masmak Fortress; that historical symbol that witnessed the epic tale of the Kingdom's foundation. Our choice of this font is not merely an aesthetic selection, but an extension of our pride in everything that is Saudi—it affirms our commitment to the ambitious vision of our nation and our promising future. We are proud to be part of this blessed land, where tradition meets modernity in every detail.
            </p>
        </div>
    </section>
</Layout>
