---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <section class="sm:px-16 xl:px-48 p-4">
		<div data-aos="fade-up">
			<h2 class="text-4xl font-extrabold font-almasmak">
				البرامج والمبادرات
			</h2>
			<p class="mt-4 text-lg font-ibm">
				صممت البرامج والمبادرات في مؤسسة أثر الإنسانية لتتوافق مع رؤيتها ورسالتها، مستلهمة من قول الله تعالى في سورة البقرة، الآية 177:
			</p>
			<p class="my-6 text-xl font-watad leading-loose text-balance">
				"لَّيْسَ الْبِرَّ أَن تُوَلُّوا وُجُوهَكُمْ قِبَلَ الْمَشْرِقِ وَالْمَغْرِبِ وَلَٰكِنَّ الْبِرَّ مَنْ آمَنَ بِاللَّهِ وَالْيَوْمِ الْآخِرِ وَالْمَلَائِكَةِ وَالْكِتَابِ وَالنَّبِيِّينَ وَآتَى الْمَالَ عَلَىٰ حُبِّهِ ذَوِي الْقُرْبَىٰ وَالْيَتَامَىٰ وَالْمَسَاكِينَ وَابْنَ السَّبِيلِ وَالسَّائِلِينَ وَفِي الرِّقَابِ وَأَقَامَ الصَّلَاةَ وَآتَى الزَّكَاةَ وَالْمُوفُونَ بِعَهْدِهِمْ إِذَا عَاهَدُوا ۖ وَالصَّابِرِينَ فِي الْبَأْسَاءِ وَالضَّرَّاءِ وَحِينَ الْبَأْسِ ۗ أُولَٰئِكَ الَّذِينَ صَدَقُوا ۖ وَأُولَٰئِكَ هُمُ الْمُتَّقُونَ"
			</p>
		</div>
		<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" data-aos="fade-up">
			{[
                {
                    name: "برنامج مثقال",
                    description: "تقديم الدعم للأيتام والأسر المحتاجة."
                },
                {
                    name: "برنامج معًا",
                    description: "دعم الشباب السعودي الموهوب من خلال المنح الدراسية، والإرشاد، والتمويل لتعزيز الابتكار."
                },
                {
                    name: "برنامج سكينة",
                    description: "توفير السكن والدعم للفئات المهمشة."
                },
                {
                    name: "برنامج سقيا",
                    description: "المساهمة في المشاريع التي توفر مياه الشرب النظيفة للمجتمعات المحتاجة."
                },
                {
                    name: "برنامج قُربى",
                    description: "توفير مساكن لأقارب المؤسس، فهد الفواز، لضمان عيشهم بكرامة."
                },
                {
                    name: "برنامج إعمار",
                    description: "ترميم وصيانة المساجد والأماكن المجتمعية."
                },
                {
                    name: "برنامج عريق",
                    description: "تعزيز الحفاظ على التراث الثقافي الغني للمملكة العربية السعودية بالتعاون مع وزارة الثقافة."
                },
                {
                    name: "برنامج بادية",
                    description: "حماية وتعزيز التراث البدوي."
                },
                {
                    name: "برنامج فرقان",
                    description: "دعم تعليم القرآن الكريم وتحفيظه وتعزيز التعليم الإسلامي."
                },
                {
                    name: "برنامج إفطار",
                    description: "تقديم الوجبات خلال شهر رمضان المبارك للمحتاجين، تحقيقًا لفريضة الزكاة والصدقة في الشهر الفضيل."
                },
                {
                    name: "برنامج سبيل",
                    description: "إنشاء محطات استراحة على الطرق الرئيسية، تقدم وجبات طازجة على مدار الساعة وملاجئ ذكية بالتعاون مع وزارة النقل.",
                    headline: "للمسافرين"
                },
                {
                    name: "برنامج ضاد",
                    description: "تعزيز وتطوير اللغة العربية بالشراكة مع وزارة التعليم ووزارة الثقافة.",
                    headline: "تطوير وتعزيز اللغة العربية"
                },
                {
                    name: "برنامج إعمار",
                    description: "بناء وترميم ودعم المساجد بالشراكة مع وزارة الشؤون الإسلامية.",
                    headline: "بناء وترميم ودعم المساجد"
                },
                {
                    name: "برنامج إحسان",
                    description: "تقديم مساهمات مالية مباشرة بالشراكة مع منصة إحسان.",
                    headline: "المساهمة عبر منصة إحسان"
                },
                {
                    name: "برنامج موروث",
                    description: "دعم الأبحاث والتطوير للحفاظ على السلالات العربية الأصيلة للإبل والخيول وتطويرها بالشراكة مع نادي الإبل.",
                    headline: "دعم تطوير سلالات الإبل والخيول العربية الأصيلة"
                },
                {
                    name: "برنامج مناسك",
                    description: "تسهيل برامج الحج والعمرة بالشراكة مع وزارة الحج والعمرة.",
                    headline: "للحج والعمرة"
                },
                {
                    name: "برنامج فطرة",
                    description: "تعزيز التوعية ونشر التعاليم الإسلامية المعتدلة في إفريقيا بالشراكة مع وزارة الشؤون الإسلامية.",
                    headline: "التوعية والدعوة الإسلامية الوسطية في إفريقيا"
                },
                {
                    name: "برنامج ضياء",
                    description: "دعم وإعادة تأهيل السجناء بالشراكة مع وزارة الداخلية.",
                    headline: "دعم وإعادة تأهيل السجناء"
                },
                {
                    name: "برنامج عافية",
                    description: "توفير الرعاية الصحية والمساعدة الطبية للمحتاجين بالشراكة مع وزارة الصحة.",
                    headline: "الرعاية الصحية والمساعدة الطبية للمحتاجين"
                },
                {
                    name: "برنامج قدرة",
                    description: "دعم فرص التوظيف والتمكين للأشخاص ذوي الإعاقة بالشراكة مع وزارة الموارد البشرية والتنمية الاجتماعية.",
                    headline: "تمكين ذوي الإعاقة"
                },
                {
                    name: "برنامج نماء",
                    description: "(لدعم أبحاث المياة وتقنيات الزراعة) بالشراكة مع وزارة الزراعة"
                }
            ].map(program => (
				<li class="p-4 bg-white rounded-lg shadow-sm border" aos-data="fade-up">
                    {program.headline ? (
                        <hgroup class="mb-2">
                            <h3 class="text-2xl font-almasmak">{program.name}</h3>
                            <h4 class="text-sm font-ibm font-extrabold text-gray-600 mt-1">{program.headline}</h4>
                        </hgroup>
                    ) : (
                        <h3 class="text-2xl font-almasmak mb-2">{program.name}</h3>
                    )}
					<p class="font-ibm text-sm">{program.description}</p>
				</li>
			))}
		</ul>
	</section>
</Layout>
