---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <section class="flex flex-col items-center text-center justify-center" data-aos="fade-up">
        <h1 class="mb-4 text-4xl text-balance font-watad leading-none md:text-5xl lg:text-6xl p-4">
            خاصة
        </h1>
        <div class="p-4 text-lg font-normal lg:text-xl sm:px-16 xl:px-48 font-ibm max-w-3xl mx-auto">
            <p class="leading-relaxed">
                اعتزازًا بجذورنا الراسخة وفخرًا بهويتنا الوطنية، اخترنا خط المصمك ليزين هذا الموقع الإلكتروني، وهو أحد الخطوط المهداة من وزارة الثقافة السعودية. يُجسّد هذا الخط أصالة الماضي وعراقة الحاضر، ويحكي بفنيّته قصة حصن المصمك؛ ذلك الرمز التاريخي الذي شهد ملحمة تأسيس المملكة. إن اختيارنا لهذا الخط ليس مجرد اختيار جمالي، بل هو امتداد لاعتزازنا بكل ما هو سعودي، وتأكيد على التزامنا برؤية وطننا الطموحة ومستقبلنا الواعد. نفتخر بأن نكون جزءًا من هذه الأرض المباركة، حيث تلتقي الأصالة بالحداثة في كل تفصيلة.
            </p>
        </div>
    </section>
</Layout>
