---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <section class="flex flex-col items-center text-center justify-center" data-aos="fade-up">
        <hgroup>
            <h1 class="mb-4 text-4xl text-balance font-watad leading-none md:text-5xl lg:text-6xl p-4">
                تطوع معنا
            </h1>
            <h2 class="p-4 text-lg font-normal lg:text-xl sm:px-16 xl:px-48 font-ibm">
                ساهم بوقتك وجهدك لتحقيق التغيير الإيجابي
            </h2>
        </hgroup>
        <a href="/volunteer-registration" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-primary-color-1 bg-secondary-color-2 rounded-lg hover:bg-secondary-color-1 focus:ring-4 focus:ring-blue-300 font-ibm">
            كن جزءاً من الأثر
            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </section>
</Layout>
